*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background-color: rgb(1, 24, 39);
}
#time{
    display: flex;
    gap: 40px;
    color: azure;
}
#time .circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
}
#time .circle svg{
    position: relative;
    height: 150px;
    width: 150px;
    transform: rotate(270deg);
}
#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: aqua;
    stroke-width: 5;
    transform: translate(6px,6px);
}
#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
}
#time div{
    display: grid;
    position: absolute;
    text-align: center;
    font-weight: 550;
    font-size: 1.3em;
}
#time div span{
    position: absolute;
    transform: translateX(-50%) translateY(-10);
    font-size: 0.35em;
    font-weight: 500;
    letter-spacing: 0.1em;
}
#time .ap{
    position: relative;
    font-size: 1em;
    transform: translateX(-20px);
}
.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.dots::before{
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),0 0 60px var(--clr);
}
